---
title: Home
layout: default
---

<div>
  <h3 class="content-heading">Hi there</h3>
  <p>I am Kolappan. This site is home to all my GitHub projects and their documentation. Click on a project to know
    more
    details about them. Read more
    <a href="/about/">about me here</a>.</p>
</div>

<h3 class="content-heading">Projects</h3>
<br>

<div class="row">
  {% for item in site.data.project-cards %}
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{item.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{item.subtitle}}</h6>
        <p class="card-text">{{item.desc}}</p>
        <a href="{{item.know-more-link}}" class="card-link">Know More</a>
        <a href="{{item.github-link}}" target="blank" class="card-link">View in GitHub</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<hr>
<h3 class="content-heading">Old Projects (Discontinued)</h3>
<br>

<div class="row">
  {% for item in site.data.old-project-cards %}
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{item.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{item.subtitle}}</h6>
        <p class="card-text">{{item.desc}}</p>
        <a href="{{item.know-more-link}}" class="card-link">Know More</a>
        <a href="{{item.github-link}}" target="blank" class="card-link">View in GitHub</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<script>
  // This is the "Offline copy of pages" service worker generate from https://www.pwabuilder.com

  if ("serviceWorker" in navigator) {
    if (navigator.serviceWorker.controller) {
      console.log("[Kols PWA] active service worker found, no need to register");
    } else {
      // Register the service worker
      navigator.serviceWorker
        .register("pwabuilder-sw.js", {
          scope: "./"
        })
        .then(function (reg) {
          console.log("[Kols PWA] Service worker has been registered for scope: " + reg.scope);
        });
    }
  }
</script>
