<!-- #region Apple Devices -->

<!-- Ref: https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->

<link rel="apple-touch-icon" href="/assets/favicons/180x180.png">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="Kolappan N">
<meta name="apple-mobile-web-app-status-bar-style" content="#0375b4">

<!-- #endregion Apple Devices -->

<!-- For Chrome -->

<link rel="manifest" href="/site.webmanifest">

<!-- General -->

<link rel="shortcut icon" href="/favicon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/16x16.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/32x32.png">

<meta name="theme-color" content="#0375b4">
