<div class="row">
    {% if page.nuget-url != null %}
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a href="{{ page.nuget-url }}" target="blank">
            <i class="fas fa-download"></i> Download Nuget Package
        </a>
    </div>
    {% endif %}

    {% if page.demo-url != null %}
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a href="{{ page.demo-url }}" target="blank">
            <i class="far fa-eye"></i> Click here for demo
        </a>
    </div>
    {% endif %}

    {% if page.download-url-latest != null %}
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a href="{{ page.download-url-latest }}" target="blank">
            <i class="fas fa-download"></i> Get Latest version
        </a>
    </div>
    {% endif %}

    {% if page.download-url-zip != null %}
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a href="{{ page.download-url-zip }}" target="blank">
            <i class="fas fa-file-archive"></i> Download Project archieve
        </a>
    </div>
    {% endif %}
</div>
