---
title: ChangeLog
layout: default
permalink: /changelog
nav-section: changelog
---

<div class="container py-2">
    <h2 class="font-weight-light text-center text-muted py-3">ChangeLog</h2>

    {% for item in site.data.changelog %}

    <div class="row">
        <div class="col-auto text-center flex-column d-none d-sm-flex">
            <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2">
                <span class="badge badge-pill bg-success">&nbsp;</span>
            </h5>
            <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
        </div>
        <div class="col py-2">
            <div class="card border-success shadow">
                <div class="card-body">
                    <div class="float-right text-success">{{ item.date }}</div>
                    <h5 class="card-title text-success"> {{ item.project}} </h5>

                    {% if item.desc != null %}
                    <div class="card-text">{{ item.desc }}</div>
                    {% endif %}

                    {% if item.change-list != null %}
                    <ul class="mb-0">
                        {% for change-item in item.change-list %}
                        <li>{{ change-item }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    {% if item.url != null %}
                    <a class="float-right" href="{{ item.url }}">Go to release</a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

    {% endfor %}
</div>
