---
title: Resume
---

<!DOCTYPE html>
<html lang="en">
<head>
    {% include meta-common.html %}

    <meta name="description" content="Resume of Kolappan Nathan">
    <meta name="author" content="Kolappan Nathan">

    <title>{{page.title}}</title>

    <link rel="stylesheet" media="all" href="/assets/css/resume.css">
    <link rel="stylesheet" media="print" href="/assets/css/resume-print.css">

    {% include g-tag-head.html %}

</head>

<body>
    {% include g-tag-body.html %}

    <div id="resume" role="document">
        <div id="avatarBlock">
            <div class="sectionName">
                <span>Resume of</span>
            </div>
        </div>
        <div id="infoBlock">
            <div class="largeFont" id="nameBlock">
                <span class="name">Kolappan Nathan</span>
            </div>
            <div id="basicsBlock">
                <div class="contactBlock">
                    <span class="address">TamilNadu, India</span>
                </div>
                <div id="profilesBlock">
                    <span class="url"><a href="https://kolappannathan.github.io/">https://kolappannathan.com/</a></span>
                    <span class="divider">|</span><span class="url"><a href="https://in.linkedin.com/in/kolappannathan"
                            target="blank">https://in.linkedin.com/in/kolappannathan</a></span>
                </div>
            </div>
        </div>
        <div class="sectionLine"></div>
        <div id="summaryBlock">
            <div class="sectionName">
                <span>Summary</span>
            </div>
            <div class="sectionContent">
                <p>I am person who is willing to learn and work with new technologies. I am passionate coder and loves
                    working
                    with computers.</p>
                <p>I am experienced in C#, ASP.Net, Transact SQL and Angular framework. I have worked with them for
                    most
                    of the part. I have also worked with Microsoft Azure, SQL Server, MVC framework, Docker, Microsoft
                    Graph,
                    SSRS reports, Angular JS, etc... </p>
            </div>
        </div>
        <div class="sectionLine"></div>
        <div id="workBlock">
            <div class="sectionName">
                <span>Experiences</span>
            </div>
            <div class="sectionContent">
                <div class="blockHeader">
                    <span class="title">Full Stack Developer</span> <span class="date">May 2018 - Present</span>
                    <div class="company">
                        Vertisize Solutions, Bengaluru<br>
                        <a href="https://www.vertisize.com/">https://www.vertisize.com/</a>
                    </div>
                </div>
                <!--
                    Only use this in case of multiple roles
                    <p>As a Software developer;</p>
                -->
                <ul class="highlights">
                    <li>Created and maintained Web applications based on ASP.Net core.</li>
                    <li>Deployed web applications using Docker containers.</li>
                    <li>Has written stored procedures, functions and maintained databases in SQL Server.</li>
                    <li>Migrated web application from ASP.Net Framework to .Net standard and ASP.Net core.</li>
                    <li>Handled deployment and maintainence Web Applications and Databases in Microsoft Azure.</li>
                </ul>
            </div>
            <div class="sectionContent">
                <div class="blockHeader">
                    <span class="title">Full Stack Developer</span> <span class="date">Feb 2017 - May 2018</span>
                    <div class="company">
                        DesignPluz, Coimbatore<br>
                        <a href="https://www.designpluz.com/">https://www.designpluz.com/</a>
                    </div>
                </div>
                <ul class="highlights">
                    <li>Created and maintained ASP.Net web applications for handling Web API requests.</li>
                    <li>Has written stored procedures, functions and maintained databases in SQL Server.</li>
                    <li>Created web applications based on Angular and AngularJS.</li>
                    <li>Handled deployment and maintainence Web Applications and Databases in Microsoft Azure.</li>
                    <li>Worked with Microsoft Graph API for integration of services like Outlook Mail & Calender,
                        OneDrive,
                        Skype, etc... </li>
                    <li>Worked on SharePoint online integration and migration of blob storage to SharePoint.</li>
                    <li>Worked with MVC web applications, SSRS reports, Office 365 deployment, etc...</li>
                    <li>Migrated MVC based application to Web API.</li>
                    <li>Migrated AngularJS based application to mordern Angular framework.</li>
                </ul>
            </div>
        </div>
        <div class="sectionLine"></div>
        <div id="education">
            <div class="sectionName">
                <span>Educations</span>
            </div>
            <div class="sectionContent">
                <div class="educationBlock">
                    <span class="title">B.E Computer Science and Engineering</span>
                    <span class="date">August 2012 - April 2016</span>
                    <div>
                        Maamallan Institute of Technology, Anna University, Chennai
                    </div>
                </div>
            </div>
        </div>
        <div class="sectionLine"></div>
        <div id="certifications">
            <div class="sectionName">
                <span>Certifications</span>
            </div>
            <div class="sectionContent">
                <div class="blockHeader">
                    <span class="title">HCL Carear Development Centre</span>
                </div>
                <ul class="highlights cert">
                    <li>Advanced Java (J2EE) - Issued On: <code>09-Jul-2016</code></li>
                </ul>
            </div>
            <div class="sectionContent">
                <div class="blockHeader">
                    <span class="title">Apollo Computer Education</span>
                </div>
                <ul class="highlights cert">
                    <li>Advanced Training in System Engineering - Issued On: <code>05-Oct-2012</code></li>
                    <li>Advanced Training in Desktop Publishing - Issued On: <code>03-Aug-2010</code></li>
                </ul>
            </div>
            <div class="sectionContent">
                <div class="blockHeader">
                    <span class="title">SoloLearn</span>
                    <div class="author">
                        <a href="https://www.sololearn.com/Profile/283766/">https://www.sololearn.com/Profile/283766/</a>
                        (Cert. Validation Link)
                    </div>
                </div>
                <ul class="highlights cert">
                    <li>C# Tutorial - Issued On: <code>27-Oct-2017</code></li>
                    <li>JavaScript Tutorial - Issued On: <code>21-Dec-2015</code></li>
                    <li>Java Tutorial - Issued On: <code>21-Dec-2015</code></li>
                    <li>CSS Fundamentals - Issued On: <code>20-Dec-2015</code></li>
                    <li>SQL Fundamentals - Issued On: <code>07-Nov-2015</code></li>
                    <li>C++ Tutorial - Issued On: <code>30-Oct-2015</code></li>
                    <li>HTML Fundamentals - Issued On: <code>10-Sep-2015</code></li>
                </ul>
            </div>
            <div class="sectionContent">
                <div class="blockHeader">
                    <span class="title">CCI Computer Education</span>
                </div>
                <ul class="highlights cert">
                    <li>Diplomo in Computer Application - Issued On: <code>30-Aug-2008</code></li>
                </ul>
            </div>
        </div>
        <div class="sectionLine"></div>
        <div id="skills">
            <div class="sectionName">
                <span>Skills</span>
            </div>
            <br><br>
        </div>
        <div>
            <div class="sectionName">
                <span>Languages</span>
            </div>
            <div class="sectionContent">
                C# &bull; Transact SQL &bull; Typescript &bull; HTML &bull; CSS &bull; JavaScript
            </div>
        </div>
        <div>
            <div class="sectionName">
                <span>Frameworks</span>
            </div>
            <div class="sectionContent">
                ASP.Net Framework &bull; ASP.Net Core &bull; MVC &bull; Angular &bull; AngularJS
            </div>
        </div>
        <div>
            <div class="sectionName">
                <span>IDE</span>
            </div>
            <div class="sectionContent">
                Visual Studio &bull; SQL server
            </div>
        </div>
        <div>
            <div class="sectionName">
                <span>Other Skills</span>
            </div>
            <div class="sectionContent">
                Microsoft Azure &bull; Microsoft Graph API &bull; SSRS Reports &bull; Docker
            </div>
        </div>
        <div class="sectionLine"></div>
        <div>
            <div class="sectionName">
                <span>Nationality</span>
            </div>
            <div class="sectionContent">
                Indian
            </div>
        </div>
        <div>
            <div class="sectionName">
                <span>Known Languages</span>
            </div>
            <div class="sectionContent">
                Tamil &bull; English
            </div>
        </div>
        <div class="colophon">
            <div class="colophon-mark"></div><strong>Last update:</strong> September 1, 2018<br>
            <span class="print-instruction"><strong>Note:</strong> This template is print-friendly and PDF-optimized.
                PDF
                file can be generated easily using Google Chrome by right-click on this page, select "Print...", then
                select
                "Save as PDF" as Destination.</span>
        </div>
    </div>
</body>

</html>