<!DOCTYPE HTML>                                                                
<html lang="en">                                                                
    <head>                                                                      
        <meta charset="utf-8">
        <title>Redirect | kolappan.dev</title>
        <meta http-equiv="refresh" content="0;url={{page.new-url}}" />      
        <link rel="canonical" href="{{page.new-url}}" />                    
    </head>                                                                                                                                                                  
    <body>                                                                      
        <h1>                                                                    
            The page been moved to <a href="{{page.new-url}}">{{page.new-url}}</a>
        </h1>                                                                  
    </body>                                                                    
</html>