---
layout: compress
---
<!doctype html>
<html lang="en">

<head>
    {% include meta-common.html %}

    <title>{{page.title}} | kolappannathan.github.io </title>

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/lib/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/site.css">
    <!-- End CSS -->

    <!-- Bootstrap -->
    <script async src="/assets/lib/bootstrap/jquery.slim.min.js"></script>
    <script async src="/assets/lib/bootstrap/popper.min.js"></script>
    <script async src="/assets/lib/bootstrap/bootstrap.min.js"></script>
    <!-- End Bootstrap -->

    {% include favicon.html %}

    {% include g-tag-head.html %}
</head>

<body>
    {% include svg-icons.html %}

    <main class="container">

        {% include g-tag-body.html %}

        {% include nav.html %}

        {{content}}

    </main>

</body>

</html>